@using KooliProjekt.Data
@model PagedResult<KooliProjekt.Data.House>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="pager-container">
    @(await Component.InvokeAsync<KooliProjekt.Components.PagerViewComponent>(new { result = Model, viewName = "Default" }))
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().HouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().HouseConstructionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseConstructionStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>