@using KooliProjekt.Data
@model PagedResult<KooliProjekt.Data.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="pager-container">
    @(await Component.InvokeAsync<KooliProjekt.Components.PagerViewComponent>(new { result = Model, viewName = "Default" }))
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Bill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
